<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>MyPizza</mat-card-title>
    <mat-card-subtitle class="contact-subtitle">By FMS</mat-card-subtitle>
  </mat-card-header>
  <div class="contact-img"></div>
  <mat-card-content>
    <p>
      N'hésitez pas à nous contacter pour toute demande d'information, on a nous
      retrouver sur nos réseaux !
    </p>
  </mat-card-content>
  <mat-card-actions class="contact-btn-container">
    <button
      class="contact-btn"
      mat-fab
      (click)="openDialog()"
      aria-label="email button"
    >
      <mat-icon>mail</mat-icon>
    </button>
    <button class="contact-btn" mat-fab aria-label="facebook button">
      <mat-icon svgIcon="facebook_icon"></mat-icon>
    </button>
    <button class="contact-btn" mat-fab aria-label="instagram button">
      <mat-icon svgIcon="instagram_icon"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
