<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>MyPizza</mat-card-title>
    <mat-card-subtitle>By FMS</mat-card-subtitle>
  </mat-card-header>
  <div class="contact-img"></div>
  <mat-card-content>
    <p>
      N'hésitez pas à nous contacter pour toute demande d'information, on a nous
      retrouver sur nos réseaux !
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="header-btn" mat-fab extended>
      <mat-icon>mail</mat-icon>
      Email
    </button>
    <button class="header-btn" mat-fab extended>
      <mat-icon svgIcon="facebook_icon"></mat-icon>
      Facebook
    </button>
    <button class="header-btn" mat-fab extended>
      <mat-icon svgIcon="instagram_icon"></mat-icon>
      Instagram
    </button>
  </mat-card-actions>
</mat-card>
