.example-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #425a3a;
  color: #fff;
}

.contact-subtitle {
  color: #fff;
}

.example-header-image {
  background-image: url("./../../../assets/fms.png");
  background-size: cover;
  border-radius: 1rem;
}

.contact-img {
  background-image: url("./../../../assets/FMSAccueil.jpg");
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.contact-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-btn {
  background-color: #62a732;
}

.contact-text {
  text-align: center;
  padding: 1rem;
  background-color: #62a732;
  margin-top: 1rem;
  border-radius: 1rem;
}

.contact-phone {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
  padding: 1rem;
  background-color: #62a732;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone-icon {
  margin-right: 0.5rem;
}

.contact-phone-link {
  /* text-decoration: none; */
  color: #fff;
  font-weight: 500;
}
