<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h2>MyPizza</h2>
      <p>
        Savourez les meilleures pizzas, faites avec des ingrédients frais et de
        qualité.
      </p>
      <p>&copy; 2024 MyPizza. Tous droits réservés.</p>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p><strong>Téléphone :</strong> 05 58 48 39 87</p>
      <p><strong>Email :</strong> contact&#64;mypizzabyfms.fr</p>
      <p>
        <strong>Adresse :</strong> 478 Rue du Pays de Gosse, 40230
        Saint-Geours-de-Maremne
      </p>
    </div>

    <div class="footer-section">
      <h3>Suivez-nous</h3>
      <div class="follow-main-container">
        <div class="follow-link-container1">
          <a
            class="follow-link"
            href="https://www.facebook.com"
            aria-label="Notre page Facebook"
            target="_blank"
          >
            <mat-icon
              class="follow-link-icon"
              svgIcon="facebook_icon"
            ></mat-icon>
            Facebook
          </a>
        </div>
        <div class="follow-link-container2">
          <a
            href="https://www.instagram.com"
            aria-label="Notre page Instagram"
            target="_blank"
          >
            <mat-icon
              class="follow-link-icon"
              svgIcon="instagram_icon"
            ></mat-icon>
            Instagram
          </a>
        </div>
      </div>
    </div>

    <div class="footer-section">
      <h3>Mentions légales</h3>
      <p><a href="/terms-and-conditions">Conditions d'utilisation</a></p>
      <p><a href="/privacy-policy">Politique de confidentialité</a></p>
    </div>
  </div>
</footer>
