<div id="gallerySection" class="gallery-container">
  <p class="gallery-title">Nos Pizzas</p>
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="1rem">
    <mat-grid-tile class="pizza1">1</mat-grid-tile>
    <mat-grid-tile class="pizza2">2</mat-grid-tile>
    <mat-grid-tile class="pizza3">3</mat-grid-tile>
    <mat-grid-tile class="pizza4">4</mat-grid-tile>
    <mat-grid-tile class="pizza5">4</mat-grid-tile>
    <mat-grid-tile class="pizza6">4</mat-grid-tile>
    <mat-grid-tile class="pizza7">4</mat-grid-tile>
    <mat-grid-tile class="pizza8">4</mat-grid-tile>
  </mat-grid-list>
</div>
