<div class="header-container">
  <span class="header-title">MyPizza By FMS</span>
  <div class="header-btn-container">
    <button
      (click)="scrollToSection('homeSection')"
      class="header-btn"
      mat-fab
      extended
    >
      <mat-icon>home</mat-icon>
      Accueil
    </button>
    <button
      (click)="scrollToSection('cardSection')"
      class="header-btn"
      mat-fab
      extended
    >
      <mat-icon>menu_book</mat-icon>
      Carte
    </button>
    <button
      (click)="scrollToSection('gallerySection')"
      class="header-btn"
      mat-fab
      extended
    >
      <mat-icon>photo_library</mat-icon>
      Gallerie
    </button>

    <button class="header-btn" mat-fab extended>
      <mat-icon>event</mat-icon>
      Evénements
    </button>
    <button
      (click)="scrollToSection('aproposSection')"
      class="header-btn"
      mat-fab
      extended
    >
      <mat-icon>info</mat-icon>
      A propos de nous
    </button>
    <button (click)="openBottomSheet()" class="header-btn" mat-fab extended>
      <mat-icon>mail</mat-icon>
      Nous contacter
    </button>
  </div>
</div>
