.home-container {
  position: relative;
  width: 100%;
  height: 540px;
  object-fit: contain;
  background-image: url("./../../../assets/home-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.home-welcome-container {
  text-align: center;
  z-index: 2;
  color: #fff;
}

.home-title {
  font-size: 6rem;
  font-family: "Satisfy", system-ui;
}

.home-welcome {
  font-size: 2rem;
}
