.apropos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edece8;
  padding-top: 3rem;
}

.apropos-text {
  width: 500px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.apropos-text-title {
  font-size: 3rem;
  font-family: "Sedgwick Ave", cursive;
}

@media (max-width: 669px) {
  .apropos-text {
    width: 500px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .apropos-text-title {
    font-size: 2rem;
    font-family: "Sedgwick Ave", cursive;
  }
}

@media (max-width: 460px) {
  .apropos-text {
    width: 500px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .apropos-text-title {
    font-size: 1.5rem;
    font-family: "Sedgwick Ave", cursive;
  }
}
