<div id="aproposSection" class="apropos-container">
  <div class="apropos-text">
    <p class="apropos-text-title">À propos de nous</p>
    <p>
      "Découvrez une expérience culinaire exceptionnelle chez MyPizza By FMS à
      Saint-Geours-de-Maremne. Situé au 478 Rue du Pays de Gosse, notre
      restaurant vous invite à déguster des pizzas artisanales et des
      spécialités italiennes qui raviront vos papilles. Que vous soyez un
      amateur de saveurs classiques ou à la recherche de créations spéciales,
      notre menu varié propose un large choix pour satisfaire tous les goûts.
    </p>
    <p>
      Chez MyPizza By FMS, nous mettons l'accent sur la qualité de nos
      ingrédients pour offrir des pizzas faites maison savoureuses. Notre pâte à
      pizza est préparée avec soin et expertise, garantissant une base
      croustillante et légère. Nous sélectionnons des produits frais et de
      première qualité, des légumes de saison aux fromages fondants, pour créer
      des combinaisons de saveurs uniques.
    </p>
    <p>
      En plus de nos pizzas délicieuses chaque plat est préparé avec passion et
      savoir-faire.
    </p>
    <p>
      Chez MyPizza By FMS, nous accordons une grande importance à la
      satisfaction de nos clients. Notre équipe chaleureuse et professionnelle
      est là pour vous accueillir et vous offrir un service personnalisé. Que ce
      soit pour une soirée en famille, un repas entre amis ou même une livraison
      rapide à domicile, nous sommes là pour répondre à vos besoins.
    </p>
  </div>
</div>
