<h2 mat-dialog-title>Contactez nous :)</h2>
<div class="form_container">
  <mat-dialog-content class="mat-typography">
    <div class="example-container">
      <mat-form-field>
        <mat-label>Entrer votre mail</mat-label>
        <input
          matInput
          placeholder="pizza@fms-ea.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Entrer votre prénom</mat-label>
        <input
          matInput
          placeholder="your firstname"
          [formControl]="firstname"
          (blur)="updateErrorMessage()"
          required
        />
        @if (firstname.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Entrer votre message</mat-label>
        <textarea
          matInput
          placeholder="your message"
          [formControl]="textarea"
          (blur)="updateErrorMessage()"
          required
        ></textarea>
        @if (textarea.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Envoyer</button>
</mat-dialog-actions>
